<template>
  <div class="form-input form-input-text relative">
    <label class="mb-1" v-if="label" :for="`form-${name}`">{{label}}</label>
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: "FormFieldWrapper",
  props: {
    name: String,
    label: String
  }
};
</script>

