<template>
  <form-field-wrapper :class="wrapperClass" :label="label" :name="name">
    <input
      @keydown.enter.prevent="$emit('enter-pressed')"
      @keydown.escape.prevent="$emit('escape-pressed')"
      :id="`form-${name}`"
      type="text"
      :placeholder="label"
      :name="name"
      v-model="internalValue"
      autofocus
      :readonly="readOnly"
    >
    <slot></slot>
  </form-field-wrapper>
</template>
<script>
export default {
  name: "FormInput",
  props: {
    value: String,
    name: String,
    label: String,
    wrapperClass: String,
    readOnly: {
      default: false
    }
  },
  computed: {
    internalValue: {
      get() {
        return this.value;
      },
      set(v) {
        this.$emit("input", v);
      }
    }
  }
};
</script>

