<template>
  <div class="form-input form-input-checkbox relative flex items-center">
    <input
      @keydown.enter.prevent="$emit('enter-pressed')"
      :id="`form-checkbox-${name}-${date.getTime()}`"
      type="checkbox"
      :name="name"
      v-model="internalValue"
      autofocus
    >
    <label
      class="ml-2 form-check-label"
      :for="`form-checkbox-${name}-${date.getTime()}`"
    >{{ label }}</label>
  </div>
</template>
<script>
export default {
  name: "FormSingleCheckbox",
  props: {
    value: Boolean,
    name: String,
    label: String
  },
  computed: {
    internalValue: {
      get() {
        return this.value;
      },
      set(v) {
        this.$emit("input", v);
      }
    }
  },
  data() {
    return {
      date: new Date()
    };
  }
};
</script>

