<template>
  <form-field-wrapper :class="wrapperClass" :label="label" :name="name">
    <div v-if="!isValidJson && validateJson === true && internalValue" class="bg-red p-1 text-white text-center">NOT VALID JSON!</div>
    <textarea
      :id="`form-${name}`"
      type="text"
      :placeholder="label"
      :name="name"
      v-model="internalValue"
      autofocus
      :readonly="readOnly"
    >
    </textarea>
    <slot></slot>
  </form-field-wrapper>
</template>
<script>
export default {
  name: "FormTextarea",
  props: {
    value: String,
    name: String,
    label: String,
    wrapperClass: String,
    readOnly: {
      default: false
    },
    validateJson: {
      default: false
    }
  },
  computed: {
    isValidJson() {
      if(this.validateJson === true && this.value.length > 0){
        try {
          JSON.parse(this.value);
          return true;
        } catch (error) {
          return false;
        }
      }
      return false;
    },
    internalValue: {
      get() {
        return this.value;
      },
      set(v) {
        this.$emit("input", v);
      }
    }
  }
};
</script>

