// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

$red: #ab4545;
.bg-red{
  background:$red;
  color:white;
}
.btn{
  border: 1px solid;
  border-radius: 4px;
  padding:5px 10px;
  cursor:pointer;
}
.form-button-small{
  border: 1px solid;
  border-radius: 4px;
  padding: 2px 6px;
}
.green-button{
  transition: all 0.3s ease;
  background: #38c172;
  color:white;
  &:hover{
    background: darken(#38c172, 10%);
  }
}
.text-center{
  text-align:center;
}
.website-status-item{
  background:#f3f3f3;
}
.status-panel{
  width:100%;
  text-align:center;
  padding:10px 0;
  border-radius: 4px;
  font-weight:bold;
  font-size: 20px;
}
.all-operational{
  background:green;
  color:white;
}
.not-all-operational{
  background:$red;
  color:white;
}
.status-table{
  width:100%;
  tr{
    transition: opacity 01s ease;
  }
  tr.is-refreshing{
    opacity: 0.2;
  }
  tr{
      td{
          padding:5px;
          background: darken(#f3f3f3, 5%);
      }
  }
  tr.non-operational{
      td{
          background:#ab4545;
          color:white;
      }
  }
  td:nth-child(1){
    width:40px;
  }
  td:nth-child(3){
      width: 150px;
  }
  td:nth-child(4), td:nth-child(5){
      width:40px;
  }
}
.form-input {
  label{
    @apply mb-1;
  }
  @apply w-full;
  transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #f3f3f3;
  padding: 4px;
  input,
  textarea {
      @apply w-full py-2 mt-1 text-black;
      background: none;
      background-color: none !important;
      border-bottom: 1px solid black;
      &:focus {
          outline: none;
      }
  }
  textarea{
    border: 1px solid black;
    border-radius: 4px;
    padding:4px;
  }
  input::placeholder {
      color: black;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
      border-bottom: 1px solid black;
  }
  textarea::placeholder {
      color: black;
  }
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
      border: 1px solid black;
      border-radius: 4px;
  }
  .input-validation-error{
    background: $red;
    color: white;
    padding: 3px;
    position: absolute;
    width: 100%;
  }
}
.form-input.is-updating {
  opacity: 0.2;
}
