<template>
    <div class="website flex items-center mt-4">
        <span @click="edit" class="flex-grow" v-if="!editing">{{websiteRecord.name}}</span>
        <form-input
          v-if="editing"
          :class="{'is-updating': refreshing}"
          class=""
          name="name"
          v-model="websiteRecord.name"
          label="Name"
          @enter-pressed="refreshName()"
          @escape-pressed="cancelEdit()"
        >
        <div v-if="validationErrors.name" class="input-validation-error" role="alert">
          <p class="py-2"><strong v-for="err in validationErrors.name">{{err}}</strong></p>
        </div>
      </form-input>
      <div class="ml-4">
        <button
          v-if="!refreshing && editing === true"
          class="form-button-small green-button"
          @click.prevent="refreshName()"
        >
          <i class="fas fa-save"></i>
        </button>
        <button
          v-if="!editing"
          class="form-button-small green-button"
          @click.prevent="edit()"
        >
          <i class="fas fa-edit"></i>
        </button>
        <a :href="`/admin/websites/${websiteRecord.id}`">
            <button
            v-if="!editing"
            class="form-button-small green-button"
            >
            <i class="fas fa-search"></i>
            </button>
        </a>
        <utility-loader v-if="refreshing"></utility-loader>
      </div>
    </div>
</template>

<script>
    export default {
        props: {
            website: {
                default: Object
            }
        },
        methods: {
            viewRequests() {

            },
            refreshName() {
                this.validationErrors = {};
                this.refreshing = true;
                this.$axios.setAuthBearerHeaderToken();
                this.$axios.put(`/api/websites/${this.website.id}`, this.websiteRecord)
                    .then(res => {
                        this.websiteRecord = res.data;
                        this.refreshing = false;
                        this.editing = false;
                        notify.success('Record refreshed');
                    })
                    .catch(err => {
                        this.website.name = this.backupName;
                        this.refreshing = false;
                        this.validationErrors = err.validationErrors;
                    });
            },
            edit() {
                this.editing = true;
                this.backupName = this.website.name;
            },
            cancelEdit() {
                this.editing = false;
                this.website.name = this.backupName;
            }
        },
        mounted() {
            console.log(this.$axios);
        },
        computed: {},
        data(){
            return {
                websiteRecord: this.website,
                backupName: this.website.name,
                refreshing: false,
                editing: false,
                errorMessage: '',
                validationErrors: {},
            }
        },
    }
</script>
<style lang="scss">

</style>