<template>
    <div>
        <div class="request-form">
        <utility-loader v-if="saving"></utility-loader>
        <div v-if="!saving">
          <div v-if="Object.getOwnPropertyNames(validationErrors).length > 1" class="input-validation-error" role="alert">
            <pre class="bg-red p-4 mb-4">{{validationErrors}}</pre>
          </div>
          <h3 class="text-lg text-center mb-4">Create New Website</h3>
          <form-input
              :class="{'is-updating': saving}"
              class=""
              name="name"
              v-model="request.name"
              label="Name"
              @enter-pressed="save()"
            >
          </form-input>
          </div>
          <button
            v-if="!saving"
            class="form-button-small green-button block ml-auto"
            @click.prevent="save()"
          >
            <i class="fas fa-save"></i>
          </button>
        </div>
        <admin-website v-for="website in websiteRecords" :key="`website-${website.id}`" :website="website"></admin-website>
    </div>
</template>

<script>
    export default {
        props: {
            websites: {
                default: Array
            }
        },
        methods: {
          save() {
              this.validationErrors = {};
              this.saving = true;
              this.$axios.setAuthBearerHeaderToken();
              this.$axios.post(`/api/websites`, this.request)
                  .then(res => {
                      this.websiteRecords = res.data.all;
                      this.refreshRequest();
                      this.saving = false;
                      notify.success('Record added');
                  })
                  .catch(err => {
                      this.saving = false;
                      this.validationErrors = err.validationErrors;
                  });
            },
            refreshRequest() {
              this.request = {
                name: ''
              }
            }
        },
        computed: {},
        data(){
            return {
                websiteRecords: this.websites,
                saving: false,
                errorMessage: '',
                validationErrors: {},
                request:{ 
                  name: ''
                }
            }
        },
    }
</script>
<style lang="scss">

</style>