<template>
    <div>
      <div class="request-form">
        <utility-loader v-if="saving"></utility-loader>
        <div v-if="!saving">
          <div v-if="Object.getOwnPropertyNames(validationErrors).length > 1" class="input-validation-error" role="alert">
            <pre class="bg-red p-4 mb-4">{{validationErrors}}</pre>
          </div>
          <h3 v-if="!request.id" class="text-lg text-center mb-4">Create New Request</h3>
          <h3 v-if="request.id" class="text-lg text-center mb-4">
            Editing {{request.url}} 
            <button
              v-if="!saving"
              class="form-button-small block mx-auto"
              @click.prevent="refreshRequest()"
            >
              Cancel
            </button>
          </h3>
          <form-input
              :class="{'is-updating': saving}"
              class=""
              name="url"
              v-model="request.url"
              label="Url"
              @enter-pressed="save()"
            >
          </form-input>
          <form-field-wrapper class="w-full mt-2 mb-2 flex flex-col" label="Request Type" name="request_type">
            <select v-model="request.request_type">
              <option v-for="option in typeOptions">
                {{option}}
              </option>
            </select>
          </form-field-wrapper>
          <form-input
              :class="{'is-updating': saving}"
              wrapper-class="mb-2"
              name="name"
              v-model="request.expected_status"
              label="Expected Status"
              @enter-pressed="save()"
            >
          </form-input>
          <form-textarea
              wrapper-class="mb-2"
              :validate-json="true"
              :class="{'is-updating': saving}"
              name="name"
              v-model="request.request_headers"
              label="Headers"
            >
          </form-textarea>
          <form-textarea
              :validate-json="true"
              :class="{'is-updating': saving}"
              wrapper-class="mb-2"
              name="name"
              v-model="request.request_body"
              label="Body"
            >
          </form-textarea>
          </div>
          <button
            v-if="!saving"
            class="form-button-small green-button block ml-auto"
            @click.prevent="save()"
          >
            <i class="fas fa-save"></i>
          </button>
        </div>
        <table class="w-full">
          <tr>
            <th>TYPE</th>
            <th>URL</th>
            <th>EXPECTED STATUS</th>
            <th class="text-center">EDIT</th>
            <th class="text-center">TEST</th>
          </tr>
          <tr :key="`web-request-${i}`" v-for="(request, i) in websiteRecord.requests">
            <td>{{request.request_type}}</td>
            <td>{{request.url}}</td>
            <td>{{request.expected_status}}</td>
            <td class="text-center">
              <button
                v-if="!saving"
                class="form-button-small green-button block mx-auto"
                @click.prevent="edit(request)"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
            <td class="text-center">
              <button
                v-if="!saving"
                class="form-button-small green-button block mx-auto"
                @click.prevent="test(request)"
              >
                <i class="fas fa-paper-plane"></i>
              </button>
            </td>
          </tr>
        </table>
    </div>
</template>

<script>
    export default {
        props: {
            website: {
                default: Object
            }
        },
        methods: {
            edit(request) {
              this.request = request;
            },
            test(request) { 
              this.$axios.setAuthBearerHeaderToken();
              this.$axios.get(`/api/websites/${this.website.id}/requests/${request.id}`)
                  .then(res => {
                      notify.success(`Status: ${res.data.status}`);
                  })
                  .catch(err => {
                      this.saving = false;
                      this.validationErrors = err.validationErrors;
                  });
            },
            update() {
              this.validationErrors = {};
              this.saving = true;
              this.$axios.setAuthBearerHeaderToken();
              this.$axios.put(`/api/websites/${this.website.id}/requests/${this.request.id}`, this.request)
                  .then(res => {
                      this.websiteRecord = res.data;
                      this.refreshRequest();
                      this.saving = false;
                      notify.success('Record edited');
                  })
                  .catch(err => {
                      this.saving = false;
                      this.validationErrors = err.validationErrors;
                  });
            },
            save() {
              if(this.request.id) return this.update();
              this.validationErrors = {};
              this.saving = true;
              this.$axios.setAuthBearerHeaderToken();
              this.$axios.post(`/api/websites/${this.website.id}/requests`, this.request)
                  .then(res => {
                      this.websiteRecord = res.data;
                      this.refreshRequest();
                      this.saving = false;
                      notify.success('Record added');
                  })
                  .catch(err => {
                      this.saving = false;
                      this.validationErrors = err.validationErrors;
                  });
            },
            refreshRequest() {
              this.request = {
                request_type: 'GET',
                  url: '',
                  request_headers: '',
                  request_body: '',
                  expected_status: 200,
                }
            }
        },
        mounted() {
            //console.log(this.$axios);
        },
        computed: {},
        data(){
            return {
                websiteRecord: this.website,
                saving: false,
                validationErrors: {},
                typeOptions: ['GET', 'POST'],
                request: {
                  request_type: 'GET',
                  url: '',
                  request_headers: '',
                  request_body: '',
                  expected_status: 200,
                }
            }
        },
    }
</script>
<style lang="scss">
.request-form{
  @apply p-4 mb-6;
  border:1px solid;
  border-radius: 4px;
}
</style>