<template>
    <tbody  >
        <tr :class="{'non-operational': request.latest_status_code !== request.expected_status, 'is-refreshing': refreshing === true}">
            <td class="font-bold text-lg">{{request.request_type}}</td>
            <td>{{request.url}}</td>
            <td>{{request.latest_status_code}} <span v-if="request.responses.length > 0">({{ request.responses[0].time }}s)</span></td>
            <td>
                <span v-if="erroredResponses.length > 0" class="btn" @click="viewResponses(request)" >
                    <i v-if="showResponses === true && responseKey === request.id" class="fas fa-close"></i>
                    <i v-else class="fas fa-search"></i>
                </span>
            </td>
            <td>
                <utility-loader-spinner v-if="refreshing"></utility-loader-spinner>
                <span class="btn" @click="refreshSite()" v-if="!refreshing">
                    <i class="fas fa-redo"></i>
                </span>
            </td>
        </tr>
        <tr v-if="showResponses === true && responseKey === request.id" v-for="response in erroredResponses">
            <td class="font-bold text-lg">{{request.request_type}}</td>
            <td>{{response.created_at}} - {{response.response}}</td>
            <td>{{response.status}} <span>({{ response.time }}s)</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</template>

<script>
    export default {
        props: {
            websiteRequest: {
                default: Object
            }
        },
        computed: {
            erroredResponses() {
              return this.request.responses.filter(r => {
                return r.status !== this.request.expected_status;
              }).slice(0,10);
            }
        },
        methods: {
            viewResponses(request) {
              if (this.responseKey === this.request.id) {
                this.showResponses = false;
                this.responseKey = null;
              } else {
                this.responseKey = request.id;
                this.showResponses = true;
              }
            },
            refreshSite() {
                this.refreshing = true;
                this.$axios.get(`/api/websites/${this.request.website_id}/requests/${this.request.id}/refresh`)
                    .then(response => {
                        this.request = response.data;
                        this.refreshing = false;
                        notify.success('Item refreshed successfully');
                    }).catch(err => {
                        this.refreshing = false;
                        console.log(err);
                    });
            },
        }, 
        data(){
            return {
                request: this.websiteRequest,
                refreshing: false,
                showResponses: false,
                responseKey: null,
                websiteResponses: []
            }
        },
    }
</script>
<style lang="scss">
</style>