<template>
    <div class="website-status-item mt-4 p-2">
        <h3 class="text-lg font-semibold mb-2 bg-grey" >{{websiteRecord.name}}</h3>
        
        <table class="status-table">
            <template v-for="request in websiteRecord.requests_and_responses">
              <single-website-status-row 
                :website-request="request"></single-website-status-row>      
            </template>
            
        </table>
    </div>
</template>

<script>
    export default {
        props: {
            website: {
                default: Object
            }
        },
        methods: {
            
        }, 
        computed: {},
        data(){
            return {
                websiteRecord: this.website,
                refreshing: false,
            }
        },
    }
</script>
<style lang="scss">
</style>