<template>
    <div class="statuses">
        <h1 class="text-center text-4xl font-bold mb-4 ">TSAS STATUS CHECKER</h1>
        <div v-if="refreshing" class="text-2xl font-bold text-center">
            <utility-loader-spinner v-if="refreshing"></utility-loader-spinner>
            Refreshing...
        </div>
        <div v-else>
            <div class="status-panel all-operational" v-if="allSitesUp">ALL ENDPOINTS ARE OPERATIONAL</div>
            <div class="status-panel not-all-operational" v-if="!allSitesUp">{{nonOperational.length}} ENDPOINTS ARE NON OPERATIONAL</div>
            <single-website-status :website="website" :key="`website-id-${website.id}`" v-for="website in websiteList"></single-website-status>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            websites: {
                default: Array
            }
        },
        methods: {
            refresh() {
                this.refreshing = true;
                this.$axios.get('/websites')
                    .then(response => {
                        this.websiteList = response.data;
                        setTimeout(() => {
                            this.refreshing = false;
                        }, 1000);
                    });
            },
        }, 
        computed: {
            allRequests() {
                const requests = [];
                this.websiteList.forEach(w => {
                    requests.push(...w.requests_and_responses);
                });
                return requests;
            },
            allSitesUp() {
                return this.allRequests.length === this.operational.length;
            },
            operational () {
                return this.allRequests.filter(r => r.expected_status === r.latest_status_code);
            },
            nonOperational () {
                return this.allRequests.filter(r => r.expected_status !== r.latest_status_code);
            }
        },
        data(){
            return {
                websiteList: this.websites,
                refreshing: false,
            }
        },
        mounted() {
            setInterval(() => {
                //this.refresh();
            }, 60000);
        }
    }
</script>
<style lang="scss">
</style>