<template>
  <transition name="fade">
    <div class="fixed-prelaunch-loader flex items-center justify-center">
      <div class="flex flex-col items-center">
        <img
          src="https://res.cloudinary.com/tshirt-and-sons/image/upload/w_500,h_54/v1554204986/logo-white.png"
          class="fixed-loader-logo"
        >
        <div class="mt-2 lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="fixed-loader-text mt-2">
          <slot></slot>
        </div>
      </div>
    </div>
  </transition>
</template>
<style>
.fixed-prelaunch-loader {
  position: fixed;
  top: 0;
  left: 0;
  background: #1d1d1d;
  width: 100%;
  height: 100%;
  z-index: 110;
  .fixed-loader-logo {
    max-width: 400px;
    @apply p-4;
  }
}
.zfixed-loader-text {
  animation: tracking-in-expand 1.4s cubic-bezier(0.215, 0.61, 0.355, 1)
    infinite;
}
.fixed-loader-text {
  animation: load-text 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}
@keyframes load-text {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.8em;
    opacity: 0;
  }
  50% {
    opacity: 1;
    letter-spacing: 0em;
  }
  100% {
    opacity: 0;
    letter-spacing: -0.8em;
  }
}
/* .fixed-loader-text,
.fixed-loader-logo {
  animation: zoomable 1.6s infinite;
}
@keyframes zoomable {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
} */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
</style>
