<template>
  <i :class="iconClass"></i>
</template>
<script>
export default {
  name: "UtilityTickOrCross",
  props: {
    showTick: {
      default: false
    }
  },
  computed: {
    iconClass() {
      return {
        fas: true,
        "fa-check text-green-success": this.showTick,
        "fa-times text-red": !this.showTick
      };
    }
  }
};
</script>
